[Unit]
Description=Start RpiRadio
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/gunicorn -b :80 radio:api
WorkingDirectory=/home/pi/src/rpi-radio-alarm
User=root

[Install]
WantedBy=multi-user.target
